<!-- Product form -->
<div class="md:pl-64">
  <div class="mx-auto flex max-w-4xl flex-col md:px-8 xl:px-0">
    <main class="flex-1">
      <div class="p-2 bg-gray-50 shadow mt-24">
        <button
          routerLink="/admins"
          class="py-2 px-4 rounded hover:font-bold transition duration-200 text-gray-700"> back >
        </button>

        <div class="p-8 bg-white shadow mt-2">
          <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-2 text-center order-last md:order-first mt-20 md:mt-0">
              <div><p class="font-bold text-gray-700 text-xl">{{ admin.id }}</p>
                <p class="text-gray-400">Id</p></div>
              <div><p class="font-bold text-gray-700 text-xl">{{ admin.accountType }}</p>
                <p class="text-gray-400">Account Type</p></div>
            </div>
            <div class="relative">
              <div
                class="w-48 h-48 bg-gray-200 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-blue-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd"/>
                </svg>
              </div>
            </div>

            <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
              <button
                (click)="deleteAdmin(admin.id)"
                class="text-white py-2 px-4 uppercase rounded bg-blue-600 hover:bg-blue-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                Delete
              </button>
              <button
                (click)="updateAboutAdmin(admin.id)"
                class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-400 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                update
              </button>
            </div>

          </div>
          <div class="mt-20 text-center  pb-12">
            <h1 class="text-4xl font-medium text-gray-700">{{ admin.firstName }} {{ admin.lastName }}</h1>
            <p class="mt-8 text-gray-500">{{ admin.email }}</p>
            <p class="mt-2 text-gray-500">{{ admin.dateOfBirth }}</p>
            <p class="mt-2 text-gray-500">{{ admin.sex }}</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
